<div id="page-container">
  <div id="top-panel">
    <div class="menu-item">HOME</div>
    <div class="menu-item">PICK UP</div>
    <div class="menu-item">SHIPPING</div>
    <div class="menu-item">LOCATIONS</div>
    <div class="menu-item">CARRIER</div>
    <div class="menu-item">ABOUT US</div>
  </div>
  <div id="content-container">
    <div id="advertisement-container" style="visibility:hidden;"> 
      <div id="left-advert-box">
        <div id="left-photo"></div>
        <div id="left-description">
            <strong>Nasze dywizje</strong>
              DeliveryCompany łączy ludzi z ponad 220 krajów i regionów. 
              Dzięki zaangażowaniu ponad 360 000 pracowników dostarczamy zintegrowane usługi i dostosowane rozwiązania w zakresie zarządzania
              i transportu listów, towarów i informacji.
            </div>
      </div>
      <div id="right-advert-box">
        <div id="right-description"> <strong>Ekologiczna logistyka</strong>
            Do roku 2050 chcemy zmniejszyć do zera poziom emisji zanieczyszczeń powstających w następstwie działań logistycznych.
             To bardzo ambitny plan. Naszym celem, jako firmy wiodącej w branży logistycznej i pocztowej, jest łączenie ludzi i tym samym poprawa ich warunków życiowych.
        </div>
      </div>
    </div>
    <div id="bottom-container">
      <div id="bottom-left-box" style="visibility: hidden">
          <div id="bottom-left-description"> <strong>Informacje branżowe i innowacje</strong>
             DeliveryCompany ułatwia nawiązanie współpracy, łącząc ze sobą klientów, instytucje badawcze i akademickie, partnerów branżowych i specjalistów z zakresu logistyki w ramach oddziałów biznesowych.
        </div>
      </div>
      <div id="avatar-box">
        <div id="avatar-gif">
          <div id="awatar-pic" style="margin-top:100px;margin-right:10px;height: 500px; width: 1000px;background-size: contain; background-repeat: no-repeat;"></div>
        </div>
        <div id="avatar-czat">
          <div id="chat">
            <div id="title-chat">Delivery Company</div>

            <div id="chat-conversation">
                <div *ngFor="let conv of conversation" style="display: flex;
                flex-direction: column; ">
                    <div class="bot-cloud" *ngIf="!conv.isUser">{{conv.content}}</div>
                    <div class="user-cloud" *ngIf="conv.isUser">{{conv.content}}</div>
                </div>
             <div style="width:100%;height:1px;" id="blank-bottom"></div>
            </div>

            <input id="input-chat"placeholder="ASK ABOUT SOMETHING" [(ngModel)]="inputText">
            <button id="send-button" (click)="send()">SEND</button>
          </div>

        </div>

        

      </div>
    </div>
  </div>
</div>